.buttonLong {
  border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em;
  font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	width: 180px;
	padding: 15px 0;
	margin: 20px auto 0 auto;
}